:root {
	--blanco: #FFFF;
	--fondo: #141414;
}

* {
	margin: 0;
	padding: 0;

}

body {
	background: var(--fondo);
	font-family: 'Open Sans', sans-serif;
	margin: 0;
}

.contenedor {
	width: 100%;
	margin: auto;
}

header {
	background-color: rgb(75, 69, 69);
	visibility: visible;
	position: fixed;
	width: 100%;
	height: 100px;
	top: 0; left: 0;
}
/*-----MENU----------*/
main .barra{
    font-family: Arial, Helvetica, sans-serif;
    width: 10%;
    height: 9%;
    position: fixed;
    transition: .4s all;
    z-index: 1;
}
main .barra ul {
    padding: 0px;
    text-align: center;
}
main .barra li {
transition: .3s all;
}
main .barra a {
    text-decoration: none;
    list-style: none;
    transition: .3s all;
    font-size: 0px;
    padding: 0px;
}
main .barra h2 {
    text-align: center;
    color: white;
    padding: -10px;
    padding-bottom: 6px;
    font-size: 0px;
}
main .barra .menu {
padding-top: 37px;
padding-left: -5px;
}
main .barra:hover {
	position: fixed;
    width: 170px;
    height: 64%;
    background-color: rgb(75, 69, 69);
}
main .barra:hover h2 {
    padding: 28px;
    font-size: 35px;
}
main .barra:hover a {
    font-size: 20px;
    color: white;
    display: block;
    padding: 20px;
}
main .barra:hover .menu {
    height: 0px;
}
main .barra:hover li {
border-top: 1px solid black;
width: 100%;
}
main .barra:hover ul:last-of-type {
border-bottom: 1px solid black;
}
main .barra:hover a:hover{
    font-size: 25px;
    padding: 24px 0px;
    background-color: rgba(181, 181, 184, 0.98);
}
/*----------------------------------------*/
header .contenedor {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logotipo {
	font-family: 'Rubik Glitch', cursive;
	font-weight: normal;
	color: var(--blanco);
	font-size: 50px;
	padding-top: 20px;
	position: fixed;
	left: 115px;

}
.nosotros {
	text-decoration: none;
	font-family: 'Baskervville', serif;
	list-style: none;
 	color: #fff;
	position: fixed;
	font-size: 20px;
	padding-top: 35px;
	right: 100px;
}
 .contacto {
	 position: fixed;
	text-decoration: none;
	font-family: 'Baskervville', serif;
    list-style: none;
    color: #fff;
	font-size: 20px;
	padding-top: 35px;
	right: 230px;
}
/* ---- ----- ----- Pelicula Principal ----- ----- ----- */
.pelicula-principal {
	font-size: 15px;
	min-height: 40.62em;
	color: #fff;
	background: linear-gradient(rgba(0, 0, 0, .50) 0%, rgba(0,0,0,.50) 100%), url(CARICATURAS/la\ era\ de\ hielo\ 5.jfif);
	background-position: center center;
	background-size: cover;
	margin-bottom: 3.12em;
	display: flex;
	align-items: end;
}

.pelicula-principal .contenedor {
	margin: 0 auto;
	margin-bottom: 6.25em;
}

.pelicula-principal .titulo {
	margin-left: 15px;
	font-weight: 600;
	font-size: 3.12em;
	margin-bottom: 0.4em;
}

.pelicula-principal .descripcion {
	margin-left: 15px;
	font-weight: normal;
	font-size: 1em;
	line-height: 1.75em;
	max-width: 50%;
	margin-bottom: 1.25em;
}

.pelicula-principal .boton {
	margin-left: 15px;
	background: rgba(0,0,0, 0.5);
	border: none;
	border-radius: 0.31em;
	padding: 0.93em 1.87em;
	color: #fff;
	margin-right: 1.25em;
	cursor: pointer;
	transition: .3s ease all;
	font-size: 1.12em;
}

.pelicula-principal .boton:hover {
	background: #fff;
	color: #000;
}

.pelicula-principal .boton i {
	margin-right: 1.25em;
}

/* ---- ----- ----- Contenedor Titulo y Controles ----- ----- ----- */
.contenedor-titulo-controles {
	display: flex;
	justify-content: space-between;
	align-items: end;
}

.contenedor-titulo-controles h3 {
	color: #fff;
	font-size: 30px;
}

.contenedor-titulo-controles .indicadores button {
	background: #fff;
	height: 3px;
	width: 10px;
	cursor: pointer;
	border: none;
	margin-right: 2px;
}

.contenedor-titulo-controles .indicadores button:hover,
.contenedor-titulo-controles .indicadores button.activo {
	background: blanchedalmond;
}


/* ---- ----- ----- Contenedor Principal y Flechas ----- ----- ----- */
.peliculas-recomendadas {
	margin-bottom: 70px;
}

.peliculas-recomendadas .contenedor-principal {
	display: flex;
	align-items: center;
	position: relative;
}

.peliculas-recomendadas .contenedor-principal .flecha-izquierda,
.peliculas-recomendadas .contenedor-principal .flecha-derecha {
	position: absolute;
	border: none;
	background: rgba(0,0,0,0.3);
	font-size: 40px;
	height: 50%;
	top: calc(50% - 25%);
	line-height: 40px;
	width: 50px;
	color: #fff;
	cursor: pointer;
	z-index: 500;
	transition: .2s ease all;
}

.peliculas-recomendadas .contenedor-principal .flecha-izquierda:hover,
.peliculas-recomendadas .contenedor-principal .flecha-derecha:hover {
	background: rgba(0,0,0, .9);
}

.peliculas-recomendadas .contenedor-principal .flecha-izquierda {
	left: 0;
}

.peliculas-recomendadas .contenedor-principal .flecha-derecha {
	right: 0;
}

/* ---- ----- ----- Carousel ----- ----- ----- */
.peliculas-recomendadas .contenedor-carousel {
	width: 100%;
	padding: 20px 0;
	overflow: hidden;
	scroll-behavior: smooth;
}

.peliculas-recomendadas .contenedor-carousel .carousel {
	display: flex;
	height: 300px;
	flex-wrap: nowrap;
}

.peliculas-recomendadas .contenedor-carousel .carousel .pelicula {
	min-width: 20%;
	transition: .3s ease all;
	box-shadow: 5px 5px 10px rgba(0,0,0, .3);
}

.peliculas-recomendadas .contenedor-carousel .carousel .pelicula.hover {
	transform: scale(1.2);
	transform-origin: center;
}

.peliculas-recomendadas .contenedor-carousel .carousel .pelicula img {
	width: 100%;
	text-align: center;
	height: 80%;
	vertical-align: top;
}

footer {
	height: 60px;
	box-shadow: 0 0 33px #ffffff, 0 0 35px #ffffff;
	background: #fff;
	align-items: center;
	position: flex;

}

.telefono {
	padding-left: 280px;
	font-size: 15px;
	padding-top: 15px;
}

.telefono a {
	text-decoration: none;
}

.imgcontacto {
	margin-left: 300px;
	width: 30px;
	height: 30px;
}

/* ---- ----- ----- Media Queries ----- ----- ----- */
@media screen and (max-width: 900px) {

	header .logotipo {
		margin-bottom: 10px;
		font-size: 30px;
	}

	.logotipo {
		font-family: 'Rubik Glitch', cursive;
		font-weight: normal;
		color: var(--blanco);
		font-size: 30px;
		padding-top: 30px;
		position: fixed;
		left: 65px;
	
	}

    .nosotros {
		position: fixed;
		text-decoration: none;
		font-family: 'Baskervville', serif;
		list-style: none;
		 color: #fff;
		font-size: 15px;
		padding-top: 40px;
		right: 30px;
	}
	.contacto {
		position: fixed;
	   text-decoration: none;
	   font-family: 'Baskervville', serif;
	   list-style: none;
	   color: #fff;
	   font-size: 15px;
	   padding-top: 40px;
	   right: 130px;
   }
   footer {
	height: 60px;
	box-shadow: 0 0 33px #ffffff, 0 0 35px #ffffff;
	background: #fff;

}

.telefono {
	padding-left: 70px;
	font-size: 15px;
	padding-top: 15px;
}

.telefono a {
	text-decoration: none;
}

.imgcontacto {
	margin-left: 100px;
	width: 30px;
	height: 30px;
}

}